// .CartBlock{
//     position: absolute;
//     right: 20px;
//     top: 40px;
//     .cartWrapper{
//         .item{
//             img{
//                 width: 50px;

//             }
//             .details{
//                 .price{

//                 }

//             }
//             .delete{

//             }

//         }
//         .details{

//         }
//         .delete{

//         }
//         .total{

//         }
//     }
// }

.CartComponent {
  .cartComponentWrapper {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 32%;
    z-index: 101;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h2 {
      margin-bottom: 30px;
      color: gray;
      font-weight: 400;
    }
    .item {
      display: flex;
      /* align-items: center; */
      align-items: flex-start;
      gap: 20px;
      padding: 10px;
      margin-bottom: 30px;
      .delete {
        color: red;
        cursor: pointer;
        font-size: 25px;
      }
      img {
        width: 80px;
        height: 100px;
        object-fit: cover;
      }
    }
    .details {
      .h3 {
        font-size: 18px;
        font-weight: 500;
      }
      p {
        color: gray;
        margin-bottom: 10px;
        font-size: 14px;
      }
      .price {
        color: blue;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 18px;
      margin: 20px 0;
    }
    .cartItems{
      max-height:  240px;
      overflow-y: auto;
      background-color: white;
      &::-webkit-scrollbar {
        width: 2px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(146, 146, 146); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
      
    }
    .checkout {
      // position: absolute;
      // min-width: 100px;
      // width: -moz-fit-content;
      width: 250px;
      cursor: pointer;
      border: none;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      color: white;
      background-color: rgb(19, 69, 136);
      text-transform: uppercase;
      font-weight: 500;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      font-size: 16px;
      color: red;
      font-weight: 700;
      a {
        color: red;
        font-weight: 700;
      }
    }
    .reset {
      // margin-top: 20px;
      color: red;
      //  font-size: 12px;
      cursor: pointer;
    }
  }
}
