.Homepage {
  width: 100%;

  .homeWrapper {
    width: 100%;
    // margin: 10px;
  }
}

.WelcomeBlock {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .col-inner {
    padding: 20px;
    // padding: 20px 200px;
    width: 60%;
    background: rgb(239, 239, 239);
  }
}

.Specialoffcer {
  position: relative;
  margin: -10px;
  overflow: hidden;
  .spacialoffcer-bg {
    img {
      //  object-fit: contain;
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .spacialoffer-content {
    position: absolute;
    left: 50vw;
    top: 20%;
    //color: white;
    text-align: start;
    z-index: 11;
  }
}

.QualityBlock {
  padding: 20px;
  background-color: #eeeeee;
  //width: 100vw;
  .elementor-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 50px;
    .elementor-image-box-wrapper {
      width: 24%;
      figure {
        img {
          width: 35%;
        }
      }
      .elementor-image-box-content {
        h5,
        p {
          margin-block-end: 10px;
          margin-block-start: 10px;
        }
        .elementor-image-box-title {
          font-size: 20px;
        }
        .elementor-image-box-description {
          font-size: 16px;
        }
      }
    }
  }
}
