.ProductList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
   
}

.productlistcontainer {
    margin: 10px;
    .heading {
        font-size: 28px;
        color: rgb(41, 41, 41);
        margin: 30px 0;
        font-weight: 600;
        &:hover{
            text-decoration: underline red dashed;
            text-underline-offset: 5px;
          //  text-decoration-skip-ink: 10;
          //  text-decoration-style: dashed;
            
        }
    }

    .ecommerce-pList {

        .ProductList {
            list-style: none;
        }
    }
}