.Slider {
  // margin: -10px;
  .sliderWrapper {
    height: calc(100%);
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sliderContainer {
      width: 100vw;
      height: calc( 100vh - 70px);
      img {
       // height: calc(100vh - 70px);
        object-fit: cover;
        width: 100%;
        height: calc( 100vh - 70px);
        
      }
      .infoContainer {

      }
    }


    .arrow {
      position: absolute;
     // width: 90%;
     width: 85%;
      top: calc(50vh - 45px);
      //padding: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
     // justify-content: space-between;
      color: white;

      .arrowin {
        svg {
          width: 20px;
          height: 20px;
          cursor: pointer;
          background-color: rgb(255, 255, 255);
          padding: 5px;
          border-radius: 50%;
          color: black;
          opacity: 0.8;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}
